.tenders {
  background-color: #fafafa;
  width: 100%;
  //   padding: 200px;
  gap: 20px;

  &__left {
    width: 70%;
    padding-top: 250px;
    padding-left: 62px;

    @media (max-width: 992px) {
      padding-top: 50px;
    }

    @media (max-width: 575px) {
      padding-left: 15px;
    }

    &__title {
      color: #989898;
      //   font-size: 22px;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 30px;
      line-height: 2.4rem;

      &__highlight {
        color: #ee2a2a;
      }
    }

    &__description {
      //   margin-bottom: 344px;
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
  }

  &__right {
    width: 100%;
    padding-top: 61px;

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //   height: 500px;
      //   width: 600px;
      //   border: 1px solid black;
      gap: 26px;
      margin-bottom: 81px;

      @media (max-width: 991px) {
        align-items: flex-start;
        padding-left: 62px;
      }

      @media (max-width: 575px) {
        padding-left: 15px;
      }

      &__container {
        width: 80%; // new
        position: relative;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;

        @media (max-width: 500px) {
          width: 95%;
        }
      }

      &__card {
        // height: 100px;
        // width: 80%; prev
        width: 100%; // new
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0px 3px 10px #0000000f;
        // box-shadow: 2px 2px 5px #ee2a2a;
        gap: 30px;
        position: relative;
        overflow: hidden;
        // transition: background-color 350ms ease-in-out;

        // &::-webkit-scrollbar {
        //   width: 0px;
        // }

        // &::-webkit-scrollbar-track {
        //   background: #ebebeb;
        //   border-radius: 20px;
        // }

        // &::-webkit-scrollbar-thumb {
        //   background: #ee2a2a;
        //   border-radius: 20px;
        // }

        // &:hover {
        //   background-color: #000;
        // }

        &__left {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          width: 20%;
          margin-top: 20px;
          z-index: 1;

          &__after {
            // content: "";
            position: absolute;
            top: 0;
            left: -15px;
            height: 100%;
            width: 100%;
            // height: 168%;
            // width: 400px;
            transform: skewX(10deg) translateY(100%);
            background-color: #000;
            // background: linear-gradient(75deg, black 27%, red 20%);
            z-index: -1;
            transition: transform 250ms ease-in-out;
            opacity: 0;

            // &:hover {
            //   transform: skewX(10deg) translateY(0%);
            //   opacity: 1;
            // }
          }

          &__icon {
            height: 40px;
            width: 40px;
          }
        }

        &__right {
          width: 80%;
          // position: relative;
          z-index: 1;
          // overflow: hidden;

          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 120px;
          //   height: 100%;
          //   width: 100%;
          //   // height: 168%;
          //   // width: 400px;
          //   transform: skewX(10deg) translateY(101%);
          //   background-color: #ee2a2a;
          //   // background: linear-gradient(75deg, black 27%, red 20%);
          //   z-index: -1;
          //   transition: transform 350ms ease-in-out;
          //   opacity: 0;
          // }

          // &:hover::after {
          //   transform: skewX(10deg) translateY(0%);
          //   opacity: 1;
          // }

          &__after {
            // content: "";
            position: absolute;
            top: 0;
            left: 24%;
            height: 100%;
            width: 100%;

            // height: 168%;
            // width: 400px;
            transform: skewX(25deg) translateY(-101%);
            background-color: #ee2a2a;
            // background: linear-gradient(75deg, black 27%, red 20%);
            z-index: -1;
            transition: transform 350ms ease-in-out;
            opacity: 0;

            @media (max-width: 500px) {
              left: 28%;
            }

            // &:hover {
            //   transform: skewX(10deg) translateY(0%);
            //   opacity: 1;
            // }
          }

          &__dropdown-content {
            position: absolute;
            left: 0;
            top: 93%;
            background-color: white;
            width: 100%;
            border-radius: 0 0 1rem 1rem;
            padding: 20px 10px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
            opacity: 0;
            transform: translateY(-30px);
            transition: opacity 250ms ease-in-out, transform 450ms ease-in-out;
            pointer-events: none;
            z-index: 3;

            height: 600px;
            overflow-x: auto;

            &__dca {
              @media (max-width: 420px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
              }
            }

            &::-webkit-scrollbar {
              width: 3px;
            }

            &::-webkit-scrollbar-track {
              background: #ebebeb;
              border-radius: 20px;

              margin-bottom: 10px;
            }

            &::-webkit-scrollbar-thumb {
              background: #ee2a2a;
              border-radius: 20px;
            }

            &__item {
              border-bottom: 1px solid #ee2a2a;
              padding-bottom: 20px;
            }

            &__status {
              border-bottom: 1px solid #ee2a2a;
              padding-bottom: 15px;
              padding-left: 5px;
              padding-right: 5px;
            }

            &__title {
              color: #4d4d4d;
              font-weight: bold;
            }

            &__description {
              margin-top: 12px;
              color: #707070;
              font-size: 0.9rem;
            }

            &__date {
              margin-top: 8px;
              color: #707070;
              font-size: 0.9rem;

              &__num {
                color: #4d4d4d;
                font-weight: bold;
              }
            }

            &__time {
              color: #989898;
              font-size: 0.75rem;

              &__red {
                color: #ee2a2a;
                font-size: 1rem;
                font-weight: bold;
              }
              &__green {
                color: #44ba20;
                font-size: 1rem;
                font-weight: bold;
              }
            }
            &__dca {
              color: #989898;
            }

            &__download {
              color: #989898;
              font-weight: bold;
            }
            &__connect {
              color: #989898;
              font-weight: bold;
            }
            &__apply {
              color: #ee2a2a;
              font-weight: bold;
              text-decoration: underline;
            }
          }

          // &__btn:focus + &__dropdown-content {
          //   opacity: 1;
          //   transform: translateY(0);
          //   pointer-events: auto;
          // }
          &__title {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 9px;

            &__highlight {
              color: #ee2a2a;
            }
          }

          &__text {
            font-size: 1rem;
            margin-bottom: 30px;
          }

          &__btn {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1rem;
            border: none;
            background: none;
            font-weight: 600;

            &:hover {
              text-decoration: underline;
            }

            &__icon {
              height: 17px;
              width: 17px;
            }
          }
        }
      }
    }
  }
}
