.search-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #00000062;
  height: 100vh;
  width: 100vw;
}

.search-section {
  position: fixed;
  top: 0;
  right: -900px;
  background-color: #fff;
  height: 100vh;
  width: 40%;
  transition: all 0.3s;
  border-top-left-radius: 47px;
  padding: 20px 50px;

  @media (max-width: 500px) {
    padding: 15px 15px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 18px;
  }
  &__text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 84px;
  }

  &__input-container {
    border-bottom: 1px solid #989898;

    &__input {
      color: #989898;
      font-size: 1.2rem;
      border: none;
      outline: none;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}
.search-section-active {
  position: fixed;
  top: 0;
  right: 0px;
  background-color: #fff;
  height: 100vh;
  width: 40%;
  transition: all 0.3s;

  border-top-left-radius: 47px;
  padding: 20px 50px;

  @media (max-width: 600px) {
    padding: 15px 15px;
    width: 70%;
  }
}
